<nav class="desktop-nav">

  <div class="container-fluid">

    <ul class="nav navbar-right navbar-nav">
      <li class="home"><a href="/">Alan's Control Panel</a></li>
      <li class="make-stream">
        <a href="#">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </li>
    </ul>

  </div>

</nav>


