<div class="container">

  <div class="row hero">
    <div class="col-md-12">
      <h1>Alan's IoT Device Control Panel</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-10 col-sm-offset-1">

      <h3>What is this?</h3>
      <p>This is an IoT control panel for WiFi boards. Users can command devices to perform measurement and view results remotely via this website.</p>

      <h3>Underlying technologies</h3>
      <p>
	<ul>
		<li>nodeJS</li>
		<li>websocket</li>

	</ul>
      </p> 	 	

      <h3>How can I give feedback about this project?</h3>
      <p>Send us an email: alan@modernblackhand.com</p>

    </div>

    <div class="info-blocks">

      <div class="blocks">

      </div>

    </div>

  </div>

</div>
