<section id="login">
  <div class="container">
	<div class="row login-header">
	  <div class="col-sm-8 col-sm-offset-2"> 
	    <h1>Log in: </h1>
	  </div>
	</div><!-- row -->

	<div class="row login-form">
	  <div class="col-sm-8 col-sm-offset-2">
		<form action="/login" method="post">
		  <fieldset class="form-group">
		    <input name="username" id="username" type="text" placeholder="Your username" />
		  </fieldset>
	
		  <fieldset class="form-group">
		    <input name="password" id="password" type="password" placeholder="Your password"/>
		  </fieldset>

		  <input type="submit" />
		</form>

	  </div>

	</div>

  </div> <!-- container -->
</section>
