<script>

var host = location.href.replace(/^http/, 'ws') + '?API_KEY=31415926';
var ws = new WebSocket(host);

//receiving messages
ws.onmessage = function (event) {
    document.getElementById('raw-responses').innerHTML += event.data + '<br>';
};

ws.onconnection = function (event) {
    ws.send('something');
};

</script>

<h1>Connected Devices</h1>

<!-- just for test --> 
<input id="myOn" type=button value="send D7-ON = A" onclick="{
   ws.send('A')
}">...

<input id="myOff"  type=button value="send D7-OFF = B" onclick="{
   ws.send('B')
}">

<!-- showing devices -->
{{#if devices }}
	<ul>
	{{#each devices}}
		<li>
			<input id="device-{{this}}" type=button value="Device {{this}}" onclick="{ ws.send('{{this}}')}"> 
		</li>		
	{{/each}}
	</ul>	
{{/if}}

<h1>Responses:</h1>
<div id="raw-responses">  here<br>  </div>



